root{
    -o-PrimaryColor:#0073a8;
    -o-SecundaryColor:#10b5cb;
    -o-gradientColor:linear-gradient(to right ,#10b5cb,#0073a8 );
    -o-whiteColor:#ffffff;
    -o-blackColor:#1b2d36;
    -o-textColor:#58585f;
    -o-whiteColorDeam:#ededed;
    -o-greyText:rgb(190,190,190);
    -o-inputColor:#efefef;
    -o-bodyColor:#f0f0f6;
    -o-cardBG:rgb(225,225,235);
 }
.home{
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #327d8e;
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode:hard-light ;
    }
     video{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;

    }
    .homeContent{
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: stretch;
        margin: auto;
        color: #f0f0f6;
        z-index: 100;
        .textDiv{
            padding: 2rem 0;
            .smallText{
                font-size: 13px;
                text-transform: uppercase;
            }
            .homeTitel{
                position: relative;
                font-size: 1.8rem;
                
            }
        }
        .cardDiv{
            position: relative;
            padding: 2rem 1rem;
            background: linear-gradient(180deg,#ffffff,transparent);
             border-radius: 10px;
             gap: 1rem;

             label{
                display: block;
                color: #58585f;
                padding-bottom: 10px;
                font-size: 13px;
                 font-weight: 500;
             }
             .label_total{
                justify-content: space-between;
                align-items: center;
                .total{
                   color: #58585f;
                    font-size: 18px;
                    padding-bottom: 10px;
                }
             }
             .input{
                border-radius: 3rem;
                padding: 0 2rem;
                background: linear-gradient(180deg,#ffffff,transparent);
               height: 40px;
               input{
                outline: none;
                border: none;
                width:100% ;
                background: none;
                font-size: 13px;
                font-weight: 500;
                &::placeholder{
                    font-size: 13px;
                }
               }
             }
             .icon{
                color: #f7f8f9 !important;
             }
             .searchOption{
                position: absolute;
                bottom: -.7rem;
                background:linear-gradient(to right ,#10b5cb,#0073a8 ) ;
                width: max-content;
                column-gap: .8rem;
                border-radius:3rem ;
                padding: 5px 1rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;
                &:hover{
                 background:#0073a8;
                }
                .icon{
                    font-size: 18px;
                    
                }
                span{
                    font-size: 13px;
                }
             }
        }
        .homeFooterIcons{
            justify-content: space-between;
            width: 100%;
            .icon{
                font-size: 20px;
                margin: 0 5px;
                color: #efefef;
                font-weight: 600;
                &:hover{
                    color:#0073a8 ;
                }
            }
        }
        
    }
 }
 //MEDIA QUERISE ===================================================================
 @media screen and (min-width:500px) {
    .home{
        .homeContent{
            .textDiv{
                .smallText{
                    font-size: 16px;

                }
                .homeTitel{
                    position: relative;
                    width: max-content;
                    font-size: 2.3rem;
                    &::after{
                        position: absolute;
                        content: '';
                        background: #10b5cb;
                        height: 5px;
                        width: 145px;
                        right: 0;
                        bottom: 5px;
                        z-index: -1;
                    }
                    
                }
            }
            .cardDiv{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
 } 
 @media screen and (min-width:660px){
    .home{
        .homeContent{
            .cardDiv{
                padding: 2rem 1rem;
                grid-template-columns: repeat(3 ,1fr);
            }
        }
    }
    
 }
 @media screen and (min-width:940px){
    .home{
    height: 85vh;
    }
    
 }
 @media screen and (min-width:1240px){
    .home{
    height: 95vh;
     
    .homeContent{
        padding-left: 0;
        padding-right: 0;
        .cardDiv{
            padding: 2rem 1rem ;
            grid-template-columns: repeat(3 , 1fr);
            .input{
                margin-bottom: 1rem;
            }
            .searchOption{
                bottom: -1rem ;
                padding: 8px 5px ;
                span{
                    font-size: 17px;
                }
            }
        }
    }
    }
    
 }